.vscode/**
.vscode-test/**
src/**
webview/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!out/**
out/extension.js
out/webview.js
out/**/*.map
esbuild.js
tsconfig*.json
bin/**
